<div class="row list-header">
    <div class="col-4">Register Name</div>
    <div class="col-2">Identifier</div>
    <div class="col-2">Receipt Count</div>
    <div class="col-2">Last Used</div>
    <div class="col-2">Actions</div>
</div>

@code {

}
