@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<header>
    <nav class="navbar navbar-no-padding navbar-expand-sm navbar-toggleable-sm  navbar-colors border-bottom box-shadow mb-3">
        <div class="container">
            <NavLink class="navbar-brand" href="/stock" Match="NavLinkMatch.All">Home</NavLink>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav" flex-grow-1>
                    <li class="nav-item nav-item-no-padding">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <i class="fas fa-store"></i>
                            <span class="nav-item-text">Store</span>
                        </NavLink>
                    </li>
                </ul>
                <AuthorizeView Roles="Administrator">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-item-no-padding">
                            <NavLink class="nav-link" href="/stock" Match="NavLinkMatch.All">
                                <i class="fas fa-layer-group"></i>
                                <span class="nav-item-text">Stock</span>
                            </NavLink>
                        </li>
                        <li class="nav-item nav-item-no-padding">
                            <NavLink class="nav-link" href="/cashregisters" Match="NavLinkMatch.All">
                                <i class="fas fa-cash-register"></i>
                                <span class="nav-item-text">Cash Registers</span>
                            </NavLink>
                        </li>
                        <li class="nav-item nav-item-no-padding">
                            <NavLink class="nav-link" href="/employees" Match="NavLinkMatch.All">
                                <i class="fas fa-users-cog"></i>
                                <span class="nav-item-text">Employees</span>
                            </NavLink>
                        </li>
                    </ul>
                </AuthorizeView>
                <LoginDisplay />
            </div>
        </div>
    </nav>
</header>
<!--
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">StoreAppWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/stock" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Stock
                    </NavLink>
                    <NavLink class="nav-link" href="/cashregisters" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Cash Registers
                    </NavLink>
                    <NavLink class="nav-link" href="/employees" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>Employees
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>
    -->

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
